[package]
name = "rclrs"
version = "0.2.0"
authors = ["Esteve Fernandez <esteve@apache.org>"]
edition = "2021"

[lib]
path = "src/lib.rs"

# Please keep the list of dependencies alphabetically sorted,
# and also state why each dependency is needed.
[dependencies]
# Needed for FFI
libc = "0.2.43"
# Provides better concurrency primitives than std
parking_lot = "0.11.2"
# Needed for the Message trait, among others
rosidl_runtime_rs = "*"

[dev-dependencies.std_msgs]
version = "*"

[build-dependencies]
# Needed for FFI
bindgen = "0.59.1"
