[package]
name = "rclrs_common"
version = "0.1.0"
authors = ["Esteve Fernandez <esteve@apache.org>"]
edition = "2018"

[dependencies]
libc = "0.2"
downcast = {version = "0.10", default-features = false}