name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        ros_distro: [rolling, foxy, galactic]
        include:
          # Foxy Fitzroy (June 2020 - May 2023)
          - docker_image: rostooling/setup-ros-docker:ubuntu-focal-ros-foxy-ros-base-latest
            ros_distribution: foxy
            ros_version: 2
          # Galactic Geochelone (May 2021 - November 2022)
          - docker_image: rostooling/setup-ros-docker:ubuntu-focal-ros-galactic-ros-base-latest
            ros_distribution: galactic
            ros_version: 2
          # Rolling Ridley  (June 2020 - Present)
          - docker_image: rostooling/setup-ros-docker:ubuntu-focal-ros-rolling-ros-base-latest
            ros_distribution: rolling
            ros_version: 2
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.docker_image }}
    steps:
    - uses: actions/checkout@v2

    - name: Search packages in this repository
      id: list_packages
      run: |
        echo ::set-output name=package_list::$(colcon list --names-only)

    - name: Setup ROS environment
      uses: ros-tooling/setup-ros@v0.2
      with:
        required-ros-distributions: ${{ matrix.ros_distro }}

    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: clippy, rustfmt

    - name: Install colcon-cargo and colcon-ros-cargo
      run: |
        sudo pip3 install git+https://github.com/colcon/colcon-cargo.git
        sudo pip3 install git+https://github.com/colcon/colcon-ros-cargo.git

    - name: Check formatting of Rust packages
      run: |
        for path in $(colcon list | awk '$3 == "(ament_cargo)" { print $2 }'); do
        cd $path
        cargo fmt -- --check
        cd -
        done

    - name: Install cargo-ament-build
      run: |
        cargo install cargo-ament-build

    - name: Build and test
      id: build
      uses: ros-tooling/action-ros-ci@v0.2
      with:
        package-name: ${{ steps.list_packages.outputs.package_list }}
        target-ros2-distro: ${{ matrix.ros_distro }}
        vcs-repo-file-url: ros2_rust_${{ matrix.ros_distro }}.repos

    - name: Run clippy on Rust packages
      run: |
        cd ${{ steps.build.outputs.ros-workspace-directory-name }}
        . /opt/ros/${{ matrix.ros_distro }}/setup.sh
        for path in $(colcon list | awk '$3 == "(ament_cargo)" { print $2 }'); do
        cd $path
        echo "Checking $path"
        cargo clippy -- -D warnings
        cd -
        done